<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "static/css/estilo.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <title>Adicionar Série</title>
</head>
<body>
    <header>
        <h1 class="titulo">MINHAS SÉRIES FAVORITAS</h1>
        <a href = "/">
            <button type = "button" class = "botao">PÁGINA INICIAL</button>
        </a>
    </header>

    <div>
        <h1 class="t">ADICIONAR NOVA SÉRIE</h1>

        <br>

            <div>
               <form action="/verificar_adicionar" method = "post">
                   <div>
                       <div class="form-group">
                           <label for="nome" class="form-label">NOME:</label>
                           <input type="text" id="nome" name="nome" placeholder="Gossip Girl" required class="form-input">
                       </div>

                       <br>

                       <div class="form-group">
                           <label for="ano" class="form-label">ANO:</label>
                           <input type="number" id="ano" name="ano" min="1950" max="2024" step="1" placeholder="2009" required class="form-input">
                       </div>

                       <br>

                       <div class="form-group">
                           <label for="nome" class="form-label">GÊNERO:</label>
                           <input type="text" id="genero" name="genero" placeholder="Drama" required class="form-input">
                       </div>

                       <br>

                       <div class="form-group">
                           <label for="elenco" class="form-label">PERSONAGENS PRINCIPAIS:</label>
                           <input type="text" id="elenco" name="elenco" placeholder="Blair, Serena, Chuck e Nate" required class="form-input">
                       </div>

                       <br>

                       <div class="form-group">
                           <label for="duracao" class="form-label">NÚMERO DE TEMPORADAS:</label>
                           <input type="number" id="duracao" name="duracao" placeholder="6" required class="form-input">
                       </div>

                       <div>
                           <button type="submit" class="botao">PRONTO</button>
                       </div>
                   </div>
               </form>
            </div>
    </div>
</body>
</html>